@model IReadOnlyList<Sistema_ERP.Models.Produto>
@{
    ViewData["Title"] = "Produtos";
}

<div class="text-center">

    

    <h1 class="display-4">Lista de produtos</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Produto"
        asp-action="CriarProduto">Novo Produto</a>
    </div>


    <table class="table table-striped mt-3">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Estoque</th>
          <th scope="col">Categoria</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
            @foreach(var produto in Model)
            {
                <tr>
                  <td>@produto.Id_Produto</td>
                  <td>@produto.Nome</td>
                  <td>@produto.Preco</td>
                  <td>@produto.Estoque</td>
                  <td>@produto.Categoria.Nome</td>
                  <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-warning" role="button" asp-controller="Produto"
                        asp-action="EditarProduto" asp-route-id="@produto.Id_Produto">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Produto"
                        asp-action="ExcluirProduto" asp-route-id="@produto.Id_Produto">Apagar</a>
                    </div>
                  </td>
                </tr>      
            }
            
      </tbody>
    </table>
</div>

