@model IReadOnlyList<Sistema_ERP.Models.Produto>
@{
    ViewData["Title"] = "Produtos";
}

<div class="text-center">

    @if (TempData["ProdutoCriado"] != null)
    {
        <p class="alert alert-success">@TempData["ProdutoCriado"].ToString()</p>
    }
    @if (TempData["ProdutoEditado"] != null)
    {
        <p class="alert alert-info">@TempData["ProdutoEditado"].ToString()</p>
    }
    @if (TempData["ProdutoExcluido"] != null)
    {
        <p class="alert alert-danger">@TempData["ProdutoExcluido"].ToString()</p>
    }
    

    <h1 class="display-4 text-light">Lista de produtos</h1>
    <hr style="width: 100%; color: white; height: 0.5px; background-color:white;" />

    <div>
        <div class="text-light mb-3">
        <form method="get" asp-controller="Produto" asp-action="Index" class="form-inline my-3 float-right">
            <label>Ordem de exibição:</label>&nbsp;
            <select name="ordem" class="form-control form-control mr-sm-1">
                <option name="ordem" value="0">Selecionar</option>
                <option name="ordem" value="1">A-Z</option>
                <option name="ordem" value="2">Z-A</option>
                <option name="ordem" value="2">Maior preço</option>
                <option name="ordem" value="2">Menor preço</option>
                <option name="ordem" value="2">Maior estoque</option>
                <option name="ordem" value="2">Menor estoque</option>
                <option name="ordem" value="2">Categoria A-Z</option>
                <option name="ordem" value="2">Categoria Z-A</option>
            </select>
            <input value="Filtrar" type="submit" class="btn btn-success my-2 my-sm-0" />
        </form>
        </div>
    </div>

    <div>      
            <div class="float-left my-3">
                <a class="btn btn-primary" role="button" asp-controller="Produto"
                asp-action="CriarProduto"><i class="fa-solid fa-plus mr-1"></i>Novo Produto</a>
            </div>

            <div class="float-left my-3 ml-3">
                <form class="form-inline" action="/Index" method="get"
                id="formBusca">
                <input type="text" name="q" placeholder="Nome do produto" class="form-control mr-sm-1"/>
                <button class="btn btn-success my-2 my-sm-0"><i class="fa fa-search"></i></button>
                </form>     
            </div>          
    </div>
    


    <table class="table table-dark table-hover table-striped mt-3">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Estoque</th>
          <th scope="col">Categoria</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
            @foreach(var produto in Model)
            {
                <tr class="text-light">
                  <td>@produto.Id_Produto</td>
                  <td>@produto.Nome</td>
                  <td>@produto.Preco</td>
                  <td>@produto.Estoque</td>
                  <td>@produto.Categoria.Nome</td>
                  <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Mais detalhes do produto" role="button" asp-route-id="@produto.Id_Produto" asp-controller="Produto"
                        asp-action="DetalhesProduto">
                        <i class="fa-solid fa-circle-info mx-1"></i>
                        Info</a>
                        <a class="btn btn-info text-light" role="button" asp-controller="Produto"
                        asp-action="EditarProduto" asp-route-id="@produto.Id_Produto"><i class="fa fa-edit"></i></a>
                        <a role="button" class="btn btn-outline-danger" asp-controller="Produto"
                        asp-action="ExcluirProduto" asp-route-id="@produto.Id_Produto"><i class="fa fa-trash"></i></a>
                    </div>
                  </td>
                </tr>      
            }
            
      </tbody>
    </table>
</div>

