@model Categoria
@{
    ViewData["Title"] = "Detalhes da categoria";
}

<div class="text-center">

    <h1 class="display-4 text-light">Detalhes da categoria: @Model.Nome</h1>
    
</div>

<div class="container text-center">
    <form class="d-grid gap-2 col-6 mx-auto text-light" asp-controller="Categoria" asp-action="EditarCategoria" method="post">
        <input asp-for="Id_Categoria" hidden/>
        <div class="form-group">
            <label>Id da Categoria</label>
            <p>@Model.Id_Categoria</p>
            <label>Nome da Categoria</label>
            <p>@Model.Nome</p>
            <label>Data do cadastro</label>
            <p>@Model.Data_Criada</p>          
            @if(Model.Data_Modificada != null)
            {
                <label>Última atualização</label>
                <p>@Model.Data_Modificada</p>
            }           
        </div>    
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-outline-warning btn-block" asp-controller="Categoria" asp-action="Index">Voltar</a>
        </div>
        
    </form>
</div>
