@model IReadOnlyList<Sistema_ERP.Models.Categoria>
@{
    ViewData["Title"] = "Categorias";

    Pager pager = new Pager();
    int pageNo = 0;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="text-center">

    @if (TempData["CategoriaCriada"] != null)
    {
        <p class="alert alert-success">@TempData["CategoriaCriada"].ToString()</p>
    }
    @if (TempData["CategoriaEditada"] != null)
    {
        <p class="alert alert-info">@TempData["CategoriaEditada"].ToString()</p>
    }
    @if (TempData["CategoriaExcluida"] != null)
    {
        <p class="alert alert-danger">@TempData["CategoriaExcluida"].ToString()</p>
    }
    

    <h1 class="display-4 text-light">Lista de categorias</h1>

    <partial name="_Pager" model="@pager" />

    <div class="text-light col-12 mb-3">
        <form method="get" asp-controller="Categoria" asp-action="Index" class="form-inline float-right">
            <label>Ordem de exibição:</label>&nbsp;
            <select name="ordem" class="form-control custom-select-sm">
                <option name="ordem" value="0">Selecionar</option>
                <option name="ordem" value="1">A-Z</option>
                <option name="ordem" value="2">Z-A</option>
            </select>
            <input value="Filtrar" type="submit" class="btn-sm btn-success my-2 my-sm-0" />
        </form>
    </div>


    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-2">
        <a class="btn btn-primary" role="button" asp-controller="Categoria"
        asp-action="CriarCategoria">Nova Categoria</a>
    </div>

    <form class="form-inline my-2 my-lg-0" 
    asp-controller="Categoria" 
    asp-action="Index"
    method="get">
    <span class="btn-group">
        <input type="search" name="searchText" placeholder="Nome da categoria" class="form-control mr-sm-2"/>
        <input type="hidden" name="ordem" value="0" />
        <input value="Pesquisar" type="submit" class="btn-sm btn-success my-2 my-sm-0" />
    </span>   
    </form>


    <table class="table table-dark table-hover table-striped mt-3">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Opções</th>
          
        </tr>
      </thead>
          <tbody>
            @foreach(var categoria in Model)
            {
                <tr class="text-light">
                    <td>@categoria.Id_Categoria</td>
                    <td>@categoria.Nome</td>
                    <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-success" role="button" asp-route-id="@categoria.Id_Categoria" asp-controller="Categoria"
                        asp-action="DetalhesCategoria">Detalhes</a>
                        <a class="btn btn-info" role="button" asp-route-id="@categoria.Id_Categoria" asp-controller="Categoria"
                        asp-action="EditarCategoria">Editar</a>
                        <a role="button" class="btn btn-outline-danger" asp-route-id="@categoria.Id_Categoria" asp-controller="Categoria"
                        asp-action="ExcluirCategoria">Apagar</a>
                    </div>
                    </td>
                </tr>
            }
                   
          </tbody>
    </table>

   <partial name="_Pager" model="@pager" />
</div>

